<div class="row">
<!-- settings and connections
-->
<div class="col-md-2 text-center">
	<h3>Settings</h3>
	<div class="time-zone">
		<hr>
		<div class="text-center">
			<b><%= Time.zone.name%> Time Zone</b>
			<hr>
			<div class="btn btn-lg btn-success "><%= link_to 'change', edit_user_registration_path%></div>	
		</div>
	</div>

	<div class="social">
		<hr>
			<% unless current_user.connections.where(provider: 'twitter').any? %>
				<%= link_to 'Connect Twitter', 'auth/twitter', class: 'btn btn-info btn-block btn-sm' %>
			<% else %>
				<%= link_to 'Connect Twitter', 'auth/twitter', class: 'btn btn-warning btn-block btn-sm', disabled: true %>
				<%= link_to 'Delete Connection', connection_path(current_user.connections.where(provider: 'twitter').first), method: :delete %>
			<% end %>
			<hr>
			<% unless current_user.connections.where(provider: 'facebook').any? %>
				<%= link_to 'Connect facebook', 'auth/facebook', class: 'btn btn-primary btn-block btn-sm' %>
			<% else %>
				<%= link_to 'Connect facebook', 'auth/facebook', class: 'btn btn-warning btn-block btn-sm', disabled: true %>
				<%= link_to 'Delete Connection', connection_path(current_user.connections.where(provider: 'facebook').first), method: :delete %>
			<% end %>
	</div>
</div>
<div class="col-md-5">
	<h3 class="text-center">Scheduled</h3>
	<hr>
	<%= render @scheduled %>
	<%= will_paginate @scheduled, :param_name => 'scheduled_page' %>
</div>
<div class="col-md-5">
	<h3 class="text-center">History</h3>
	<hr>
	<%=render @history %>
	<%= will_paginate @scheduled, :param_name => 'history_page' %>
</div>

</div> <!-- end row  -->